.conteiner {
    .logo_like {
        font-size: 50px;
        margin-top: 50px;
    }

    .like_text {
        font-size: 14px;
        margin-top: 20px;
    }

    .new_list {

        all: unset;
        width: 192px;
        height: 56px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        gap: 10px;
        margin: 50px 0;

        img {
            width: 24px;
            height: 24px;
            filter: invert(100%);
        }

        cursor: pointer;

    }

    .join_ikeaa {
        width: 100%;
        background-color: #007CC1;
        color: white;
        padding: 3rem;

        ul {
            margin: 20px 0;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .join_free_btn {
            all: unset;
            width: 150px;
            height: 56px;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 20px;
            font-size: 20px;
            cursor: pointer;

        }

        .login_btnn {
            all: unset;
            text-align: center;
            border-radius: 20px;
            margin-left: 20px;
            width: 100px;
            height: 54px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .create_like {
        margin-top: 50px;
        width: 100%;
        height: fit-content;

        .like_create_cont {
            width: 100%;
            height: 518px;
            overflow-x: scroll;
            display: flex;
            gap: 20px;
            margin-top: 30px;

            .like_create_box {
                min-width: 290px;
                height: 100%;
                background-color: #e9e9e9;
            }
        }
    }

    .like_filter_cont {
        width: 100%;
        margin-top: 50px;

        .like_variant {
            width: 100%;
            height: fit-content;
            overflow-x: scroll;
            display: flex;
            // align-items: center;
            gap: 30px;
            margin: 50px 0;

            .br {
                width: fit-content;
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                font-size: 23px;
                text-align: left;
                background-color: #e9e9e9;
                border-radius: 20px;
                padding: 10px 20px;
                // padding: 30px;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .like_create_filter {
            width: 100%;
            display: flex;
            gap: 20px;

            .like_create_filter_wrap {
                width: 33%;
                height: fit-content;
                display: flex;
                flex-direction: column;

                .item {
                    height: 580px;
                    width: 100%;
                    background-color: #007CC1;
                    margin-top: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .item2 {
                    height: 390px;
                    width: 100%;

                    background-color: #007CC1;
                    margin-top: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


        }

        .more {
            all: unset;
            display: block;

            margin: 100px auto;
            padding: 0 24px;
            height: 40px;
            border-radius: 25px;
            background-color: black;
            color: white;
        }
    }
}

.like_variant {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 25px 0px;
}

// swiper
.container-swiper {
    width: 100%;
    height: 500px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}